<!--
  Oficina Como Criar Coisas Inteligentes com NodeJS e Arduino
  Arduino Day Manaus 2019 - 16/03/2019
  Facilitador:       Orlewilson Bentes Maia
  Data Criacao:      14/03/2019
  Data Atualizacao:  14/03/2019
  Descricao:         Projeto 02 – Mini Estação Meteorológica - NodeJS + Web
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Projeto 02 – Mini Estação Meteorológica</title>
    <!-- importando estilo-->
    <link href="/css/main.css" rel="stylesheet" type="text/css">

  </head>
  
  <body>
    <div class="title">Temperatura</div>
    <div>
      <canvas id="myAreaChartTemp" width="100%" height="30"></canvas>
    </div>

    <div class="title">Umidade</div>
    <div>
      <canvas id="myAreaChartUmi" width="100%" height="30"></canvas>
    </div>
    
    <div class="title">Luminosidade</div>
    <div>
      <canvas id="myAreaChartLumi" width="100%" height="30"></canvas>
    </div>
 
    <!-- biblioteca chart.js-->
    <script src="js/Chart.min.js"></script>

    <!-- importando bibliotecas -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
      
    <!-- gráficos -->
    <script src="js/chart-area-temp-umi-lumi.js"></script>
  </body>
</html>
